# Build results
bin/
obj/
out/
obj\

# Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Backup & temp files
*.tmp
*.bak
*.swp
*~
*.cache
*.json
*.props
*.json
